{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>SK</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

        <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/assets/css/bootstrap-icons.css" rel="stylesheet">

        <link rel="stylesheet" href="../static/assets/css/slick.css"/>

        <link href="../static/assets/css/tooplate-little-fashion.css" rel="stylesheet">
<!--

Tooplate 2127 Little Fashion

https://www.tooplate.com/view/2127-little-fashion

-->
    </head>
    
    <body>

        <section class="preloader">
            <div class="spinner">
                <span class="sk-inner-circle"></span>
            </div>
        </section>
    
        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                        <strong><span>SK </span>Auctions</strong>
                    </a>

                    <div class="d-lg-none">
                        <a href="sign-in.html" class="bi-person custom-icon me-3"></a>

                        <a href="product-detail.html" class="bi-bag custom-icon"></a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">


                            <li class="nav-item">
                                <a class="nav-link" href="register">Sign-up</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="login">Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="../static/about.html">Story</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="../static/contact.html">Contact</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>

            <section class="slick-slideshow">   
                <div class="slick-custom">
                    <img src="../static/assets/images/slideshow/car1.jpeg" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">SK Group</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">Discover the world of exclusive products and competitive bidding...</p>

                                    <a href="../static/about.html" class="btn custom-btn">Learn more about us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slick-custom">
                    <img src="../static/assets/images/slideshow/car2.jpeg" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Our Concept</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">We believe in revolutionizing the way you shop by offering products at their lowest cost and empowering you, the buyer, to determine their value based on quality. Our unique bidding system ensures fair prices and gives you the opportunity to secure high-quality items at prices you choose. Experience the thrill of personalized shopping and unbeatable savings with us!"</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slick-custom">
                    <img src="../static/assets/images/slideshow/two-business-partners-working-together-office-computer.jpeg" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Talk to us</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">Feel free to suggest us in what ways we can improve your experience more.....</p>

                                    <a  href="../static/contact.html" class="btn custom-btn">Contact us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="about section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-12 text-center">
                            <h2 class="mb-5">Unlock Treasures, <span>Bid Now</span>!</h2>
                        </div>
                    </div>
                </div>
            </section>

        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-10 me-auto mb-4">
                        <h4 class="text-white mb-3"><a href="index.html">SK</a> Auction</h4>
                        <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">Copyright © 2024 <strong>SK Auction</strong></p>
                        <br>
                        <p class="copyright-text">Designed by <a href="https://www.instagram.com/s.4.k?igsh=bWMydjFyam45ZG9t" target="_blank">Swaraj</a></p>
                    </div>

                    <div class="col-lg-5 col-8">
                        <h5 class="text-white mb-3">Sitemap</h5>

                        <ul class="footer-menu d-flex flex-wrap">
                            <li class="footer-menu-item"><a href="../static/about.html" class="footer-menu-link">Story</a></li>

                            <li class="footer-menu-item"><a href="../static/contact.html" class="footer-menu-link">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-4">
                        <h5 class="text-white mb-3">Social</h5>

                        <ul class="social-icon">

                             <li><a href="https://www.youtube.com/" class="social-icon-link bi-youtube"></a></li>

                            <li><a href="https://wa.me/+917510449152" class="social-icon-link bi-whatsapp"></a></li>

                            <li><a href="https://www.instagram.com/s.4.k?igsh=bWMydjFyam45ZG9t" class="social-icon-link bi-instagram"></a></li>

                            <li><a href="https://join.skype.com/invite/qVJNiNgld3al" class="social-icon-link bi-skype"></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="../static/assets/js/jquery.min.js"></script>
        <script src="../static/assets/js/bootstrap.bundle.min.js"></script>
        <script src="../static/assets/js/Headroom.js"></script>
        <script src="../static/assets/js/jQuery.headroom.js"></script>
        <script src="../static/assets/js/slick.min.js"></script>
        <script src="../static/assets/js/custom.js"></script>

    </body>
</html>
