{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="Auction Website">
        <meta name="author" content="Swaraj">

        <title>Products</title>



        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

        <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/assets/css/bootstrap-icons.css" rel="stylesheet">

        <link rel="stylesheet" href="../static/assets/css/slick.css"/>

        <link href="../static/assets/css/tooplate-little-fashion.css" rel="stylesheet">

    </head>

    <body>

        <section class="preloader">
            <div class="spinner">
                <span class="sk-inner-circle"></span>
            </div>
        </section>

        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="d-flex">
                    <ul class="navbar-nav">
                         <li class="nav-item">
                             <a class="nav-link" style="margin-left: -7.5rem;" href="{% url 'logout' %}">Log out</a>
                         </li>
                    </ul>
                </div>
            </nav>


            <section class="products section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <h4 class="mb-5"> <span>Products</span> Available</h4>
                        </div>
                        {% for i in result %}
                        <div class="col-lg-4 col-12 mb-3">

                            <div class="product-thumb">
                                <a href="{% url 'productdetail' i.pk %}">
                                    <img src="{{i.img.url}}" class="img-fluid product-image" alt="">
                                </a>

                                <div class="product-info d-flex">
                                    <div>
                                        <h5 class="product-title mb-0">
                                            <a href="{% url 'productdetail' i.pk %}" class="product-title-link">{{i.name}}</a>
                                        </h5>

                                        <p class="product-p">{{i.desc}}</p>
                                    </div>

                                    <small class="product-price text-muted ms-auto">Amount:-<strong>₹{{i.price}}</strong></small>
                                </div>
                            </div>

                        </div>
                        {% endfor %}
                    </div>

            </section>

        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-10 me-auto mb-4">
                        <h4 class="text-white mb-3"><a href="">SK</a> Auction</h4>
                        <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">Copyright © 2022 <strong>SK Auction</strong></p>
                        <br>
                        <p class="copyright-text">Designed by <a href="" target="_blank">Swaraj</a></p>
                    </div>

                    <div class="col-lg-5 col-8">

                    </div>

                    <div class="col-lg-3 col-4">
                        <h5 class="text-white mb-3">Social</h5>

                        <ul class="social-icon">
                             <li><a href="https://www.youtube.com/" class="social-icon-link bi-youtube"></a></li>
                             <li><a href="https://wa.me/+917510449152" class="social-icon-link bi-whatsapp"></a></li>
                             <li><a href="https://www.instagram.com/_s.4.k_?igsh=bWMydjFyam45ZG9t" class="social-icon-link bi-instagram"></a></li>
                             <li><a href="https://join.skype.com/invite/qVJNiNgld3al" class="social-icon-link bi-skype"></a></li>

                        </ul>
                    </div>

                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="../static/assets/js/jquery.min.js"></script>
        <script src="../static/assets/js/bootstrap.bundle.min.js"></script>
        <script src="../static/assets/js/Headroom.js"></script>
        <script src="../static/assets/js/jQuery.headroom.js"></script>
        <script src="../static/assets/js/slick.min.js"></script>
        <script src="../static/assets/js/custom.js"></script>

    </body>
</html>
